.AddTask {
  top: 90px;
  right: 15px;
  position: fixed;
}

.AddTaskModalForm {
  margin: 20px;
}

.AddTaskModalForm > * {
  margin-bottom: 10px !important;
  width: 100%;
}

.DashboardTasksContainer {
  padding: 10px 150px 10px 25px;
}
