.AddTask {
  top: 90px;
  right: 15px;
  position: fixed;
}

.DashboardTaskRow {
  cursor: pointer;
}

.NoTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080b8;
}
