.AddTask {
  top: 90px;
  right: 15px;
  position: fixed;
}

.DashboardTasksContainer {
  padding: 10px 150px 10px 25px;
}

.NoTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080b8;
}
