.SideBarContainer {
  position: absolute;
  top: 75px;
  bottom: 0px;
  left: 0;
  width: 65px;
  /* background-color: #e9e7ff; */
  border-right: .5px solid rgba(0,0,0,.3);
  z-index: -100;
}

.SideBarLinks {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.SideBarLinks > button {
  margin: 0;
}
