.HeaderContainer {
  height: 75px;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffdd2ad9;
  text-align: left;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.HeaderTitle {
  padding-left: 20px;
}
