body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

.App {
  position: absolute;
  left: 65px;
  right: 0;
  bottom: 0;
  top: 75px;
  padding: 40px 40px 0;
  background-color: rgba(0,0,0,.02);
}
